body {
	font-family: verdana;
	background-color:lavenderblush;
	font-size:14px;
	line-height: 17px;
	width:100%;
    min-width:1000px;
    height:auto;
}

.text-container {
	width:1500px;
	margin:20px 50px 20px 50px;
}

i { 
    font-style: italic;
}

h1 {
	font-size: 20px;
	text-decoration: underline;
	background: yellow;
	margin-right: 1110px;
	margin-left: 40px;
	margin-top: 20px;
	padding:6px;
	text-align: center;
}

.subtitle {
	padding-top:22px;
	padding-bottom: 40px;
	text-indent: 28px;
}

p {
	padding-bottom: 10px;
}

.ans {
	padding-left: 80px;
	padding-right: 450px;
}

a {
	text-decoration: none;
	color:red;
	position: absolute;
	bottom:-2700px;
	right: 30px;
	padding-bottom: 20px;
}

.quest{
	padding-top: 10px;
}

.top{
	padding-top: 50px;
}


img {
	display: inline-block;
	width: 300px;
	margin: auto;
}

.img-container {
	width: 800px;
	margin: auto;
}

.img1 {
	width: 350px;
	height: 190px;
}

.img2 {
	width: 400px;
	height: 290px;
}

.img3 {
	width: 250px;
	height: 150px;
}

.img4 {
	width: 500px;
	height: 300px;
}

.img6 {
	width: 190px;
	height: 110px;
}

.img7 {
	width: 350px;
	height: 350px;
}

.go-back {
	position: absolute;
    bottom: -100px;
    right: 30px;
}









