body{
  background-color: black;
  color:white;
  font-family: helvetica;
}

a {
  color:white;
  text-decoration: none;
}

a:hover {
  font-style: italic;
}

/*splash css*/

.image-container {
  display: flex;
  flex: wrap;
  background-image: url(../images/face2.png);
  background-repeat: no-repeat;
  background-size:cover;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.image-container:hover {
  background-image: url(../images/face1.png);
}

.image-container .title {
  font-size: 1.7vw;
  font-weight: bold;
  padding-bottom: 1vw;
}

/*Menu css*/

.menu-container {
  height: 800px;
  display:flex;
  flex-wrap:wrap;
  text-align: center;
  font-size: 110px;
}

.menu-container .item:hover {
  font-style: italic;
}

.button1:hover {
  background-image: url(../images/face3.png)
}

.button2:hover {
  background-image: url(../images/face4.png)
}

.button3:hover {
  background-image: url(../images/face5.png) 
}

.button4:hover {
  background-image: url(../images/face6.png) 
}

/*Essay css*/

.essay-title-container {
  height:95vh;
  display:flex;
  flex-wrap:wrap;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 8vw;
}

.header h2 {
  padding-top: 4vw;
  font-size: 0.8vw;
}

.essay-container {
  margin: 1vw 22.5vw;
  font-size: 2vw;
  hyphens: auto;
}

.essay-container .indent {
  text-indent: 5vw;
}

.face8 {
  width: 20vw;
}

.face9{
  width: 18vw;
}

.face10{
  width: 13vw;
}

/*Helper classes*/

* {
	box-sizing: border-box;
   add a border with !important to view the boxes 
  border:1px solid red !important;
}

i {
  font-style: italic;
}

/* set all containers to flex with flex wrap*/
.container {
  display:flex;
  flex-wrap:wrap;
}

/* create helper classes, similar to the w-1of3. These can be used to quickly adjust the alignment of the flex items */
.self-center {
  align-self:center;
}

.self-start{
  align-self:flex-start;
}

.self-end {
  align-self:flex-end;
}

.align-center {
  align-items:center;
}

.align-start {
  align-items:flex-start;
}

.align-end {
  align-items:flex-end;
}

/* these are helper classes to change the width of the items quickly */

.w-1of1 {flex:0 0 100%;}

.w-1of2 {flex:0 0 50%;}

.w-1of3 {flex:0 0 33.333%;}
.w-2of3 {flex:0 0 66.666%;}

.w-1of4{flex:0 0 25%;}
.w-2of4{flex:0 0 50%;}
.w-3of4{flex:0 0 75%;}

.w-1of5 {flex:0 0 20%;}
.w-2of5 {flex:0 0 40%;}
.w-3of5 {flex:0 0 60%;}
.w-4of5 {flex:0 0 80%;}

.w-1of12 {flex:0 0 8.3333%;}
