body{
	font-family: helvetica;
	background-color: #FEFAF9;
	font-size: 1.3vw;	
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #A8C489;
	font-style: italic;
}

a:active {
	color: pink;
}

/*Header css*/

.toolbar-container{
	width: 100vw;
	height: 100vh;
	position: fixed;
	padding: 1vw 1vw;
	mix-blend-mode: exclusion;
}

.intro{
	color: #FDD40B;
}

